doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Frontend Mentor - REST Countries API with color theme switcher
  link(rel="stylesheet", href="style.css")
  link(rel="shortcut icon", href="favicon-32x32.png", type="image/x-icon")
  script(src="https://kit.fontawesome.com/e8f815e43c.js", crossorigin="anonymous")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet")
body
  header.header-bar
    h1.main-title Where in the World?
    button.toggle-theme
      i.fa-regular.fa-moon
      span Dark Mode

  div.details-screen#details-screen
    button.back Back
    div#country.country
      div.country__flag
      div.country__data

  main.home#home-screen
    form()#search-form
      button(type="submit") 
        i.fa-regular.fa-search
      input#search-input(type="search", name="search-country", placeholder="Search for a country...")
    form()#filter-form
      select#filter-input(name="filter-region") 
        option(value="placeholder") Filter by Region
        option(value="africa") Africa
    div.cards-container#cards-container

  script(src="main.js")