// pallete
$color-blue-100: #111517;
$color-blue-90: #202c37;
$color-blue-80: #2b3945;
$color-gray-100: #858585;
$color-gray-50: #fafafa;
$color-white: #ffffff;

// fonts
$font-family: 'Nunito Sans', sans-serif;
$font-s-home: 14px;
$font-s-details: 16px;

// theme colors
$color-dark:#fff;
$background-dark:#202c37;
$color-light:#111517;
$background-light:#fff;